.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background: rgba(0, 0, 0, 0.75);
}
.modal {
    position: fixed;
    top: 2rem;
    left:22%;
    bottom: 2rem;
    width: 50%;
    margin: auto;
    z-index: 100;
    overflow: hidden;
    background-color: white;
    display: flex;
    padding: 2rem;
    border-radius: 0.5rem;
}
.image-container {
}
.song-container {
    margin-left: 1rem;
    position: relative;
}
.song-title .title {
    font-size: 2rem;
    font-weight: bold;
}
.title-translation {
    font-style: italic;
}
.song-description {
    margin-top: 0.5rem;
    font-weight: lighter;
}
.song-lyrics {
    margin-top: 1rem;
}
.close-lyrics {
    width: 2rem;
    height: 2rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2rem;
    right: -2rem;
    font-weight: bold;
    transition: color 300ms;
}
.close-lyrics:hover {
    color: lightgray;
    cursor: pointer;
}
.lyrics-label {
    font-weight: bold;
}
.lyrics-content {
    margin-top:0.5rem;
    font-size: 0.9rem;
    height: 25rem;
    overflow: scroll;
}