.footer {
    background-color: #091221;
    color: white;
    display:flex;
    justify-content: space-evenly;
}
.social-section, .subscribe-section {
    width: 30%;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.footer-header p {
    font-size: 2rem;
}
.newsletter-description {
    font-size: 1.2rem;
}
.subscribe-section form, .newsletter-description {
    padding: 0.5rem;
    font-weight: lighter;
}
label {
    font-style: italic;
    font-size: 0.9rem;
}
input {
    display: block;
    width: 70%;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0 0.5rem;
}
.subscribe-button {
    width: 5rem;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #f5f74f;
}
.subscribe-button:hover {
    cursor: pointer;
}
.subscribe-success p {
    font-weight: lighter;
    color: lightgray;
}
.contact-us__links {
    padding: 0.5rem;
}
.contact-us__links a {
    text-decoration: none;
    color: #acacac;
    font-size: 0.8rem;
}
.contact-us__links p a {
    display:flex;
    padding-top: 1rem;
    align-items: center;
}
.contact-us__links p a:hover {
    color: white;
}
.contact-us__links p a img {
    width: 20px;
    margin: 0 1rem;
}
/* Responsive Mobile */
@media only screen and (max-width: 516px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-section, .subscribe-section {
        width: 95%;
    }
}