* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.9rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #acacac;
    position: -webkit-sticky;
    background-color: white;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 1px 1px 9px #787878;
    z-index: 10;
}

.logo-container img {
    max-width: 11rem;
    transition: scale 300ms;
}
.logo-container img:hover {
    scale: 1.05;
}
.sideMenu {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}
.hamburger-container {
    display: none;
    position: relative;
    padding: 0.5rem;
}
.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem;
    height: 1.5rem;
    align-items: center;
}
.hamburger-icon span {
    background-color: #121212;
    display: block;
    width: 2rem;
    height: 0.2rem;
}
.hamburger-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    z-index: 1;
    width: 10rem;
    margin-top: 0.5rem;
    padding-top: 1rem;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.hamburger-container:hover {
    background-color: #eeeeee;
    cursor: pointer
}
.hamburger-container:hover .hamburger-content {
    display: block;
}
.catalog {
    position: relative;
    padding: 0.5rem;
}
.catalog-title {
    display: flex;
    align-items: center;
    width: 7.5rem;
    justify-content: space-between;
}
.catalog-dropdown {
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    z-index: 1;
    width: 10rem;
    margin-top: 0.5rem;
    padding-top: 1rem;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.catalog:hover {
    background-color: #eeeeee;
    cursor: pointer;
}
.catalog:hover .catalog-dropdown {
    display: block;
}
.catalog-dropdown a:hover {
    background-color: gray;
}
.about, .contribute, .catalog-dropdown a, .hamburger-content a {
    color: black;
    padding: 0.5rem;
    display: block;
    transition-property: background-color, color;
    transition-duration: 300ms, 300ms;
}
.about:hover, .contribute:hover, .catalog-dropdown a:hover , .hamburger-content a:hover {
    background-color: black;
    color: white;
}
@media only screen and (max-width: 712px) {
    .header {
        width: 100%;
    }
    .hamburger-container {
        display: flex;
    }
    .catalog, .about, .contribute{
        display: none;
    }
}

