* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.9rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #acacac;
    position: -webkit-sticky;
    background-color: white;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 1px 1px 9px #787878;
    z-index: 10;
}

.logo-container img {
    max-width: 11rem;
    transition: scale 300ms;
}
.logo-container img:hover {
    scale: 1.05;
}
.sideMenu {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}
.catalog {
    position: relative;
    padding: 0.5rem;
}
.catalog-title {
    display: flex;
    align-items: center;
    width: 7.5rem;
    justify-content: space-between;
}
.catalog-dropdown {
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    z-index: 1;
    width: 10rem;
    margin-top: 0.5rem;
    padding-top: 1rem;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.catalog:hover {
    background-color: #eeeeee;
    cursor: pointer;
}
.catalog:hover .catalog-dropdown {
    display: block;
}
.catalog-dropdown a:hover {
    background-color: gray;
}
.sideMenu a {
    color: black;
    padding: 0.5rem;
    display: block;
    transition-property: background-color, color;
    transition-duration: 300ms, 300ms;
}
.sideMenu a:hover {
    background-color: black;
    color: white;
}
@media screen and (max-width: 412px) {
    .header {
        width: 100%;
    }
}

