* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.9rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #acacac;
    position: -webkit-sticky;
    background-color: white;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 1px 1px 9px #787878;
    z-index: 99;
}

.header h1 {
    color: #121212;
}
.sideMenu {
    padding: 0.5rem;
    display: flex;
}
.sideMenu a {
    color: black;
    padding: 0.5rem;
    display: block;
    transition-property: background-color, color;
    transition-duration: 300ms, 300ms;
}
.sideMenu a:hover {
    background-color: black;
    color: white;
}


