.trending-header {
    padding: 0 1rem;
    border-left: 0.5rem solid #243a5e;
    margin-bottom: 2rem;
}
.trending-contents {
    display: flex;
    justify-content: space-evenly;
}
.trending-ranking {
    width: 2rem;
    height: 2rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -1rem;
    left: -1rem;
}
.trending-container {
    border: 1px solid #acacac;
    width: 20%;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 10px #454545;
    position: relative;
    transition: translate 500ms;
}
.trending-container:hover {
    translate: 0px -15px;
    cursor: pointer;
}
.song-image {
    width:100%;
}
.song-image img{
    max-width: 100%;
}
.song-description {
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
}
.song-title, .song-title-translation {
    margin: 0;
}
.song-title {
    font-weight: bold;
}
.song-title-translation {
    font-style: italic;
    font-size: 0.8rem;
}
.song-artist {
    color: #212121;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
