.modal {
    position: absolute;
    top: 2rem;
    left: 100px;
    width: calc(100% - 200px);
    z-index: 100;
    overflow: hidden;
    background-color: white;
    border-radius: 0.5rem;
    animation: slide-down 300ms ease-out forwards;
}
@media only screen and (max-width: 516px) {
    .modal {
        width: 85%;
        left: 2rem;
        right: 2rem;
        position: fixed;
    }
}
@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }